<mat-toolbar style="padding: 0 5%;" color="primary">
  <button mat-icon-button aria-label="Icon-button with logo icon" (click)="openMovies()">
    <mat-icon style="color: #fff">slideshow</mat-icon>
  </button>
  <span (click)="openMovies()">SeaFlix</span>

  <span class="spacer"></span>
  <button mat-icon-button aria-label="Icon-button with account icon" (click)="openProfile()">
    <mat-icon style="color: #fff">person</mat-icon>s
  </button>
  <button mat-icon-button aria-label="Icon-button with logout icon" (click)="logoutUser()">
    <mat-icon style="color: #fff">logout</mat-icon>
  </button>
</mat-toolbar>