<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button aria-label="Icon-button with logo icon" (click)="openMovies()">
    <mat-icon class="light-text">slideshow</mat-icon>
  </button>
  <span (click)="openMovies()">SeaFlix</span>

  <span class="spacer"></span>
  <button mat-icon-button aria-label="Icon-button with account icon" (click)="openProfile()">
    <mat-icon class="light-text">person</mat-icon>
  </button>
  <button mat-icon-button aria-label="Icon-button with logout icon" (click)="logoutUser()">
    <mat-icon class="light-text">logout</mat-icon>
  </button>
</mat-toolbar>