<div style="width: 100%; min-height: 100%; margin: 0 auto; background-color: rgb(30, 30, 30); background-size: cover;">
  <app-navbar></app-navbar>
  <div style="width: 60%; margin: 50px auto; text-align: center;">
    <mat-form-field style="width: 50%;">
      <input matInput [(ngModel)]="searchQuery" (input)="filterMovies()" placeholder="Search movies">
    </mat-form-field>
  </div>
  <div style="width: 60%; margin: 50px auto; display: flex; gap: 20px; flex-wrap: wrap;">
    <mat-card *ngFor="let movie of filteredMovies;" style="flex: 1 1 auto; max-width: 300px;">
      <mat-card-header style="min-height: 15%;">
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} style="max-width: 100%; max-height: 70%" />
      <mat-card-actions style="min-height: 15%;">
        <button mat-button color="primary" (click)="showGenre(movie)">
          Genre
        </button>
        <button mat-button color="primary" (click)="showDirector(movie)">
          Director
        </button>
        <button mat-button color="primary" (click)="showSynopsis(movie)">
          Synopsis
        </button>
        <mat-icon (click)="toggleFavourite(movie)">
          {{ isFavourite(movie) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>