@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.main-page {
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: #fff;
  height: 100%;
  padding-top: 70px;
}

h1 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}