<div style="width: 100%; min-height: 100%; margin: 0 auto; background-color: rgb(30, 30, 30); background-size: cover;">
  <app-navbar></app-navbar>
  <mat-card style="width: 60%; margin: 40px auto;">
    <mat-card-header>
      <mat-card-title>Your Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="updateAccount()" color="primary">Update Account</button>
      <button mat-raised-button (click)="deleteAccount()" color="primary">Delete Account</button>
    </mat-card-actions>
  </mat-card>
  <div style="width: 60%; margin: 40px auto;">
    <h2 style="color: #fff">Favourite Movies</h2>
  </div>
  <div style="width: 60%; margin: 50px auto; display: flex; gap: 20px; flex-wrap: wrap;">
    <div *ngIf="favouriteMovies.length === 0" style="color: #fff">You have no favourite movies.</div>
    <mat-card *ngFor="let favMovie of favouriteMovies" style="flex: 1 1 auto; max-width: 300px;">
      <mat-card-header style="min-height: 15%;">
        <mat-card-title>{{favMovie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{favMovie.Director?.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{favMovie.ImagePath}} alt={{favMovie.Title}} style="max-width: 100%; max-height: 70%" />
      <mat-card-actions style="min-height: 15%;">
        <button mat-button color="primary" (click)="showGenre(favMovie)">
          Genre
        </button>
        <button mat-button color="primary" (click)="showDirector(favMovie)">
          Director
        </button>
        <button mat-button color="primary" (click)="showSynopsis(favMovie)">
          Synopsis
        </button>
        <mat-icon (click)="removeFromFavourites(favMovie._id)">favorite</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>