<div style="width: 100%; min-height: 100%; margin: 0 auto; background-color: rgb(30, 30, 30); background-size: cover;">
  <app-navbar></app-navbar>
  <mat-card style="width: 40%; margin: 40px 20%;">
    <mat-card-header>
      <mat-card-title>Your Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form style="display: flex; flex-direction: column; gap: 20px; margin: 20px auto;">
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="display: flex; gap: 20px; margin: 20px auto;">
      <button mat-raised-button (click)="updateAccount()" color="primary">Update Account</button>
      <button mat-raised-button (click)="deleteAccount()" color="accent">Delete Account</button>
    </mat-card-actions>
  </mat-card>
  <div style="width: 60%; margin: 40px auto;">
    <h2 style="color: #fff">Favourite Movies</h2>
  </div>
  <div style="width: 60%; margin: 50px auto; display: flex; gap: 20px; flex-wrap: wrap;">
    <div *ngIf="favouriteMovies.length === 0" style="color: #fff">You have no favourite movies.</div>
    <mat-card *ngFor="let favMovie of favouriteMovies"
      style="flex: 1 1 auto; max-width: 300px; box-shadow: 0 4px 8px 0 rgba(245, 240, 240, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img src={{favMovie.ImagePath}} alt={{favMovie.Title}}
        style="max-width: 100%; max-height: 65%; border-radius: 10px;" />
      <mat-card-content style="min-height: 20%;">
        <h2>{{favMovie.Title}}</h2>
        <p><b>Director:</b> {{favMovie.Director?.Name}}</p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-evenly; min-height: 15%;">
        <button mat-button color="primary" (click)="showGenre(favMovie)">
          Genre
        </button>
        <button mat-button color="primary" (click)="showDirector(favMovie)">
          Director
        </button>
        <button mat-button color="primary" (click)="showSynopsis(favMovie)">
          Synopsis
        </button>
        <mat-icon (click)="removeFromFavourites(favMovie._id)" color="primary">favorite</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>